@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,500,400,300);


#body,td,th,p {
	font-family: "Open Sans", sans-serif;
	font-size:12px;
	line-height: 1.2;
	margin: 0;
	color: #333333;
	margin:0;
	padding:0;
}
h2 {
	font-family: "Open Sans";
	font-weight: 600;
	font-size:13px;
	color: #0E3997;
	letter-spacing:-1px;
	padding:0;
}
h4 {
	font-family: "Open Sans";
	font-weight: 600;
	font-size:13px;
	color: #0E3997;
	letter-spacing:-0px;
	padding:0;
	margin-bottom:-2px;
}

.navMenu{
	width:100%; 
	background:; 
	float:left; 
	height:46px;
}

.navMenu ul{ 
	margin:0; 
	padding:0; 
	list-style:none; 
	position:relative;
	
}
.navMenu ul li{ 
	float:left; 
	display:inline-block;
	color: #003366;
}

.navMenu ul li a{ 
	display:block; 
	text-decoration:none;
	padding-left:15px;
	padding-right:15px;
	height:46px;
	transition: background: 0.2s linear 0s, color 0.2s linear 0s;
	color: #FFFFFF;
}
.navMenu ul li a h3{ 
	font-family: "Open Sans";
	font-weight: 600;
	font-size:13px;
	
	letter-spacing:-1px;
	line-height:46px;
	padding:0;
	margin-top:0px;
}
.navMenu ul li a:hover, .navMenu > ul> li:hover> a{
	background: #FFFFFF;
	color: #003366;
	border-bottom:0px solid #003366;
	
}

/* mega menu css */
.navMenu ul li ul.megamenu{
	width: 760px; 
	padding:20px 20px; 
	background: #FFFFFF; 
	position:absolute; 
	display:none;
	float:left;
	left:0px;
}
.content1{
	width: 420px;
	padding-top:0px;
	margin-top:-10px;
	float:left;
	margin-right:30px;
	background-color:#FFFFFF;
}
.content p{
	font-family: "Open Sans", sans-serif;
	font-size:12px;
	line-height: 1.2;
	margin: 0;
	color: #333333;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
}
.navMenu ul li:hover ul.megamenu{display:block;}

.navMenu ul li:hover ul.megamenu li{	
	width: auto;
	margin-right:30px; 
	float:left;
}

.navMenu ul li:hover ul.megamenu li a{ 
	padding:5px; 
	background: #FFFFFF;
	height:15px;
	color:#666666;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size:13px;
	line-height: 1.2;
}
.navMenu ul li:hover ul.megamenu li a:hover{
	background: #FFFFFF; 
	color: #0099CC;
	text-decoration:underline;
}

.navMenu ul li:hover ul.megamenu h1{
	padding:10px 0; 
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size:14px;
	line-height: 1.2;
	color: #003366; 
	text-align:left; 
	margin-left:0px;
	background-color:#FFFFFF;
	border-bottom:1px solid #74b9ed;
}

.navMenu ul li:hover ul.megamenu p{margin-top:15px;}